<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.8" />
        <httpRuntime targetFramework="4.7.2" />
        <machineKey validationKey="091AF185603EA6DFF56F0B73351E8337A3662AC4A6EFFC4BD48D96DA57ADC4CD9322728C18A67BC67B2EF4173C5F152D3BC993536A40E49236F06CE6000D7831" decryptionKey="27E8F2196A6D6D8E62B02CD230C35C67682B7B550D4C06A8EC68D9D5D4909AFD" validation="SHA1" decryption="AES" />
    </system.web>
    <appSettings>
        <add key="DatabaseType" value="SqlServer" />
        <add key="LogoutPage" value="~/Sair/Sair.aspx" />
        <add key="LogAjax" value="false" />
        <add key="LogDB" value="true" />
        <add key="owin:appStartup" value="OwinConfiguration" />
        <add key="UrlPermitida1" value="lg.com.br" />
        <add key="UrlPermitida2" value="lgcloud.com.br" />
        <add key="UrlPermitida3" value="w3net.com.br" />
        <add key="UrlPermitida4" value="w3n.com.br" />
        <add key="urlCDNFeedback" value="https://cdn1.lg.com.br/lg/feedback/index.html" />
    </appSettings>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="VersaoHandler" verb="GET,HEAD" path="Versao.axd" type="W3.Library.Data.VersaoHandler" />
        </handlers>
        <modules>
            <add name="W3Module1" type="W3.Library.Data.GlobalSettingsModule, W3.Library" />
            <add name="W3Module2" type="W3.Library.DataSql.GlobalSettingsModule, W3.Library" />
            <add name="SessionManager" type="W3.Framework.Servico.Modules.SessionManagerModule, W3.Framework.Servico" />
        </modules>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
